<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receita</title>
</head>
<body>
    <h1>PersonalCheff</h1>
    <h2>Receita de suco de limão</h2>
    <h2>Modo de preparo</h2>
    <ul>
        <li>Bolo de Chocolate</li>

        Esse é o MELHOR BOLO DE CHOCOLATE da vida inteira! Aqui em casa, ele é o bolo oficial e sempre faço ele desse jeito mesmo, na assadeira e ali fica, nem desenformo. 
        Ele é tão fácil e simples de fazer que até minha filha faz sozinha e sempre da certo, ele é muito FÁCIL, não tem como errar.
       
        ASSISTA O VÍDEO COMPLETO E ANOTE A RECEITA:
       
        Se usar xícara medidora, use a padrão de 240ml ou siga os pesos.
       
        MASSA:
       4 ovos
       1 e 1/2 xícara (chá) de açúcar - (250g)
       3/4 xícara (chá) de óleo - (180ml)
       1/2 xícara de (chá) de água quente - (120ml)
       2 colheres (sopa) de cacau em pó - (40g)
       1 e 1/2 e xícara (chá) de farinha de trigo - (180g)
       2 colheres (sopa) de amido de milho - (40g)
       1 colher (chá) de fermento químico - (10g)
       1 colher (café) de bicarbonato - (5g)
       Se não tiver bicarbonato, use então 1 colher de sopa de fermento (15g).
       
       CALDA CREMOSA
       1/2 xícara (chá) de leite integral - (125ml)
       1/2 caixinha de creme de leite - (100g)
       1 colher (sopa) de chocolate em pó - (20g)
       1 colher (sopa) de manteiga  - (15g)
       3 colheres (sopa) de açúcar - (60g)
       
       COBERTURA DE BRIGADEIRO 
       1 e 1/2 caixinha de leite condensado - (592g)
       2 colheres (sopa) de chocolate em pó - (40g)
       1 colher (sopa) manteiga - (15g)
       1 caixinha de creme de leite - (200g)
       
       DECORAÇÃO A GOSTO.
       
       CAPÍTULOS
       00:00 - INTRODUÇÃO
       00:50 - RECEITA BOLO DE CHOCOLATE
       01:19 - COMO DEIXAR O BOLO DE CHOCOLATE BEM ESCURO
       01:33 - COMO DEIXAR O BOLO DE CHOCOLATE BEM FOFINHO
       02:54 - COBERTURA DE CHOCOLATE
       03:47 - COMO FAZER CALDA PARA BOLO DE CHOCOLATE
       05:13 - COMO MOLHAR BOLO DE CHOCOLATE
       06:21 - FATIA DE BOLO DE CHOCOLATE
    </ul>    
</body>
</html>