{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'partials/header.html' %}

{% include 'partials/menu.html' %}

<h2>Seu site de receitas</h2>   
    <table border="1" class="table table-light" >

        <tr class="table-dark">
            <th>Receita</th>
            <th>Video</th>
            <th>Ações</th>
        </tr>

        {% for chave, uma_receita in lista_receitas.items %}
        <tr>
            <td> <img src="{% static 'sucolaranja.png' %}" class="icones">
                <strong> {{ uma_receita }}
            </td>
            <td>https://www.youtube.com/watch?v=Nn9140bDPnc</td>
            <td><a href="{% url 'sucodelaranja' %}" class="btn btn-secondary">Ver receita completa</a></td>
        </tr>
        {% endfor %}

    </table>

{% include 'partials/footer.html' %}

{% endblock %}