{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'partials/header.html' %}

{% include 'partials/menu.html' %}

<h2>Seu site de receitas</h2>   
    <table border="1" class="table table-light" >

        <tr class="table-dark">
            <th>Receita</th>
            <th>Nota</th>
            <th>Video</th>
            <th>Ações</th>
        </tr>

        {% for receita in lista_receitas %}
        <tr>
            <td>
                {{receita.nome_receita}}
            </td>
            <td>
                {{receita.nota}}
            </td>
            <td> {{receita.video}}</td>
            <td><a href="{% url 'sucodelaranja' %}" class="btn btn-secondary">Ver receita completa</a></td>
        </tr>
        {% endfor %}

    </table>

{% include 'partials/footer.html' %}

{% endblock %}