{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'partials/header.html' %}

    <h2>Receita de torta de frango</h2>
    <h2>Modo de preparo</h2>
    <ul>
        RECHEIO DE FRANGO
            Medida de xícara de 210 ml
            <br>
            INGREDIENTES: 700 gramas de filé de peito de frango (limpo e cortado em 
                                             Pedaços grandes <br>
                                             . 5 xícaras (chá) de água ou um litro <br>
                                             . 3 colheres (sopa) de azeite ou óleo (33 gramas) <br>
                                             . ½ xícara (chá) de cebola ralada ou picada (110 gramas) <br>
                                             . ½ colher (sopa) de alho ralado ou picado (8 gramas) <br>
                                             . ¼ colher (chá) de pimenta do reino (0,5 grama) <br>
                                             . 1 e ½ colher (chá) de sal (7 gramas) <br>
                                             . ½ colher (sopa) de orégano (1 grama) <br>
                                             . ½ xícara (chá) de água do cozimento do frango (110 gramas) <br>
                                             . 1 e ½ colher (sopa) de salsinha picadinha <br>
            
                                             . ½ xícara (chá) de requeijão cremoso (110 gramas) <br>
                                             . ¼ xícara (chá) de creme de leite (55 gramas) <br>
                                             . ¼ colher (chá) de sal  ou 1 grama <br>
            
                                             . 1 colher (chá) de colorau ou 4 gramas <br>
                                             . 2 colheres (chá) de extrato de tomate ou 34 gramas <br>
                                             . ½ xícara (chá) de milho em conserva ou 100 gramas <br>
                                             . ¼ xícara (chá) de azeitonas verdes picada ou 60 gramas <br>
        <h3>MODO DE FAZER: </h3>
        - Em uma panela coloque o frango e a água e deixe cozinhar por mais ou menos 30 minutos.<br>
        - Ainda quente bata na batedeira para desfiar (Bata mais se quiser bem triturado ou bata menos tempo se quiser desfiado). Ou desfie com um garfo.<br>
        - Reserve.<br>
        - Em uma panela, leve ao fogo, o azeite e a cebola, refogue bem e acrescente o alho. Refogue mais um pouco.<br>
        - Coloque o frango desfiado, a pimenta, o sal, o orégano e a água do cozimento do frango.<br>
        - Mexa até a água do frango secar.<br>
        - Acrescente a salsinha e está pronto.<br>
        <br>
        RECHEIO DE FRANGO LEVEMENTE CREMOSO<br>
        - Depois do recheio já temperado.
        - Em uma vasilha coloque o requeijão, o creme de leite e o sal. 
        - Mexa e acrescente no frango já pronto e mexa. 
        - Cozinhe um pouco e está pronto.<br>
        <br>
        RECHEIO DE FRANGO AVERMELHADO <br>
        - Depois do recheio de frango temperado (sem a salsinha)
        - Acrescente o colorau e o extrato de tomate. Mexa bem e cozinhe um pouco até a cor ficar uniforme.
        - Acrescente a salsinha e mexa.<br><br>

        RECHEIO DE FRANGO COM MILHO E AZEITONAS VERDES<br>
        - Depois do recheio pronto da sua escolha: Branquinho ou Avermelhado,<br>
        - acrescente o milho em conserva e as azeitonas picadas<br><br>
        
        CUSTO DO RECHEIO DE FRANGO <br>
        -Entre 10 e 14 reais (dependendo dos ingredientes que se acrescentou na receita.
    </ul>
    
    <a href="{% url 'index' %}"> Voltar </a>

{% include 'partials/footer.html' %}
{% endblock %}